* {
    padding: 0;
    margin: 0;
    font-family: Myriad Pro;
    box-sizing: border-box;
}
* h1 {
    font-size: 30pt;
    text-align: center;
}
* h2 {
    font-size: 24pt;
    text-align: center;
}

.tital {
    text-align: center;
}
.container {
    max-width: 1172px;
    margin: 0 auto;
    font-family: Myriad Pro ;
}
.container:after 
{
    content: "";
    clear:both;
    float: none;
    display: block; 
}

.header {
    color: white;
    padding: 10px;
}
.logo {
    display: inline-block;
}
.nav {
    float: right;
    padding-top: 25px;
}
.nav li {
    display: inline-block;
    padding: 0 14px 0 15px;
}
.nav a {
    text-decoration: none;
    color: #000;
}
.nav a:hover {
    color: #fc5c1f;
}
a.active {
    text-decoration: none;
    color: #fc5c1f;
}



.intro {
    background: #5d5d5d;
    padding: 45px;
}
.main-intro {
    width: 45%;
    float: left;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}
.intro-info h1 {
    padding: 20px 50px 20px 50px;
}
.intro-info p {
    padding: 0 55px 0 55px;
}
.intro-btn {
    padding: 20px;
}
.intro-btn a {
    text-decoration: none;
    padding: 7px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #fc5c1f;
}

.Eerste-content {
    text-align: center;
    padding-top: 40px;
}
.Eerste-woning-content p {
    text-align: center;
    padding: 20px 0 20px 0;
}



.laagste {
    background: #f4f2f1;
    padding-bottom: 30px;
    text-align: center;
}
.laagste-content h2 {
    padding-top: 20px;
}

.laagste-nav {
    list-style: none;
    padding-bottom: 20px; 
}
.laagste-nav li  {
    display: inline-block;
    padding-top: 30px;
    margin-right: 30px;
}
.laagste-nav li p {
    display: block ;
    padding: 10px 20px 10px 20px;
    background-color: white;
}
.Hypothe-btn {
    padding: 40px 0 10px 0;
}
.Hypothe-btn a {
    text-decoration: none;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #fc5c1f;
}


.stappen {
    padding-top: 30px;
    padding-bottom: 30px;
}

.Eerste-content a {
    box-sizing: border-box;
    overflow: hidden;
}
.content-row {
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #e7e7e7;
}
.content-row img {
    display: inline-flex;
    vertical-align: middle;
}

.content-row h3{
    display: inline-block;
    vertical-align: middle;
}
.content-row i {
    float: right;
    color: #e7941a;
}
.stappen-paragraph {
    padding-bottom: 20px;
}


.bereken {
    background: #f4f2f1;
    padding-bottom: 20px;
}
.bereken-heading {
    padding: 40px 0 40px 0;
}



.inkomen {
    display: inline-block;
    background-color: white;
    width: 48%;
    border-radius: 5px;
}
.inkomen-content {
    display: inline-block;
    overflow: hidden;
    padding: 15px 0 0 15px;
}
.inkomen-value {
    float: right;
    padding-top:  10px;
    padding-right: 30px;
}
.input-container {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.input-container input {
    padding: 7px;
    width: 17rem;
}
.input-container i {
    padding: 5px;
    background: #f4f2f1;
    color: #000;
    min-width: 20px;
}
.inkomen-value input {
    border: none;
    padding: 7px;
}
.bereken-btn {
    float: right;
    padding: 20px 30px 20px 0;
}
.bereken-btn a {
    text-decoration: none;
    background-color: #fc5c1f;
    color: white;
    padding: 5px;
    border-radius: 5px;
}



.maximale {
    float: right;
    background-color: white;
    width: 48%;
    border-radius: 5px;
}
.maximale-content {
    text-align: center;
    padding: 25px 0 25px 0;
    line-height: 1.5;
}
.maximale-content u {
    cursor: pointer;
}

.Precies-weten {
    background: #726451;
    padding: 20px;
}
.Precies-content {
    padding-right: 15rem;
    text-align: center;
}
.Precies-content h2 {
    color: white;
    display: inline-block;
    padding-left: 2.5rem;
}
.Precies-content a {
    float: right;
    text-decoration: none;
    background-color: #fc5c1f;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.wat-kunnen {
    background: #5d5d5d;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.kunnen-content {
    background-color: white;
    width: 50%;
    border-radius: 5px;
    float: right;
    padding: 0 0 25px 0;
}
.kunnen-content h2 {
    padding: 25px 0 25px 0;
}
.checkbox {
    line-height: 1.8;
    padding-left: 6.5rem;  
}
.kunnen-content a {
    text-align: center;
    text-decoration: none;
    padding: 7px;
    background-color: #fc5c1f;
    color: white;
    border-radius: 5px;
}

.checkbtn {
    text-align: center;
    padding: 25px 0 25px 0;
}


.footer-area {
    background: #726451;
    padding: 20px;
}

.footer-area h2 {
    padding-bottom: 20px;
    color: white;
}
.footer-area h1 u {
    cursor: pointer;    
}
.Over-Academica {
    padding-left: 50px;
    color: white;
    width: 33.3%;
    float: left;
    line-height: 1.5;
}
.Over-Academica ul {
    list-style: none;
}
.Over-Academica li a {
    color: white;
}


@media only screen and (max-width: 1023px) {
    .logo {
        width: 100%;
    }
    .nav {
        width: 100%;
    }

    .intro-info {
        width: 100%;
    }
    .intro-info h1 {
        font-size: 22pt;
    }
    
    .Eerste-content {
        width: 100%;
    }

    .laagste-content {
        width: 100%;
    }
    .stappen-content {
        width: 100%;
    }

    .inkomen-area {
        width: 100%;
    }
    .inkomen-value {
        width: 50%;
    }
    .input-container input {
        width: 6rem;
    }
    
    .maximale {
        float: right;
    }
    .Precies-content {
        padding-right: 0;
    }
    .Precies-content h2 {
        width: 81%;
    }

    .kunnen-content {
        width: 100%;
    }

    .footer-menu {
        width: 100%;
    }
}



@media only screen and (max-width: 767px) {
    .logo {
        width: 100%;
    }
    .nav {
        width: 50%;
    }

    .main-intro {
        width: 100%;
    }
    .main-intro h1 {
        font-size: 12pt;
    }
    .main-intro p {
        font-size: 10pt;
    }
    .intro-btn a {
        font-size: 10pt;
    }

    .Eerste-content {
        width: 100%;
    }

    .laagste-content {
        width: 100%;
    }

    .stappen-content {
        width: 100%;
    }

    .inkomen {
        width: 100%;
    }
    .inkomen-value {
        width: 100%;
    }
    .input-container {
        width: 60% ;
    }
    
    .maximale {
        padding-top: 40px;
        width: 100%;
    }
    .Precies-content {
        padding-right: 0;
    }
    .Precies-content h2 {
        width: 100%;
        padding-left: 0;
    }
    .Precies-content a {
        float: left;
    }

    .checkbox {
        padding-left: 0;
    }

    .kunnen-content {
        width: 100%;
    }
    .footer-area h2 {
        font-size: 16pt;
    }
    .Over-Academica {
        width: 100%;
        padding-bottom: 20px;
    }
}

